[submodule "Nebuleuse/curl"]
	path = Nebuleuse/curl
	url = https://github.com/bagder/curl
[submodule "Nebuleuse/rapidjson"]
	path = Nebuleuse/rapidjson
	url = https://github.com/miloyip/rapidjson.git
[submodule "Nebuleuse/thread"]
	path = Nebuleuse/thread
	url = https://github.com/boostorg/thread
